/* ------------------------------------------------------------------------------------------------------------------ */
/* File: xml-zadanie-1.css */
/* Authors: Konrad Jaworski, Tomasz Witczak
/* ------------------------------------------------------------------------------------------------------------------ */
/* File encoding */
@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------------ */
/* CSS variables: */
:root {
    /* - color scheme ('D' versions are slightly darker, 'L' - lighter) */
    --color1: #314455;
    --color1-D: #1C2731;
    --color1-L: #384E61;

    --color2: #644E5B;
    --color3: #9E5A63;
    --color4: #65707B;
    --color5: #97AABD;
    --color5-L: #D0D9E1;

    /* - arrow characters */
    --arrow-up: "\2191";
    --arrow-down: "\2193";
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Main selector */
bookStore {
    display: block;
    background-image: linear-gradient(to bottom, var(--color1-D), var(--color2), var(--color3));
	color: var(--color5-L);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
	padding: 0 5%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Authors, genres, publishers, etc. */
authors, genres, publishers {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Description of different types of covers */
coverTypes {
    display: block;
    position: fixed;
    bottom: 1%;
    right: 1%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

coverType[coverTypeENUM="paperback"] {
    display: block;
    color: white;
}

coverType[coverTypeENUM="hardback"] {
    display: block;
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* List of books */
/* - main book selector */
books book {
    display: grid;
    background-color: var(--color1);
    text-align: center;
    font-size: 180%;
    padding: 1%;
    overflow: auto;
    grid-template-columns: 10% 25% 25% 25% 15%;
    grid-template-rows: auto auto;
    grid-gap: auto;
    border-top: 0.05em solid var(--color5);

    transition: all 0.1s ease-out;
    opacity: 0.85;
    margin: auto 0;
}

/* - hover feature */
books book:hover {
    box-shadow: inset 0 0 2.5em rgba(0, 0, 0, 0.2);
    opacity: 1;
    margin: auto -0.5em;
}

/* Pseudo-elements as grid items: */
books book::before, books book::after {
    display: block;
    margin: auto 0px;
    white-space: pre-wrap;
}

/* - author (displaying correct name with corresponding IDs) */
books book:before {
    grid-column: 2 / span 1;
    grid-row:    2 / span 1;
}
books book[authorID="ASapkowski"]::before     { content: "Andrzej Sapkowski"; }
books book[authorID="SKing"]::before          { content: "Stephen King"; }
books book[authorID="UEco"]::before           { content: "Umberto Eco"; }
books book[authorID="BPrus"]::before          { content: "Bolesław Prus"; }
books book[authorID="GRRMartin"]::before      { content: "George R.R. Martin"; }
books book[authorID="JGreen"]::before         { content: "John Green"; }
books book[authorID="HSienkiewicz"]::before   { content: "Henryk Sienkiewicz"; }

/* - genre, publisher */
books book::after {
    grid-column: 3 / span 1;
    grid-row:    2 / span 1;
    content: attr(genreID)"/"attr(publisherID);
}

/* Different right border color for hard or soft cover */
books book[coverTypeENUM="paperback"]   { border-right: 0.25em solid white; }
books book[coverTypeENUM="hardback"]    { border-right: 0.25em solid black; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Contents of a book entry: */
/* - all elements */
books book * {
    display: block;
    margin: auto;
}
/* - all descriptions */
books book *::after {
    white-space: pre-wrap;
    font-size: 0.5em;
    color: var(--color4);
}
/* - title */
books book > title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-style: italic;
}
books book > title::after {
    content: "\A" var(--arrow-up) " tytuł " var(--arrow-up) "\A " var(--arrow-down) " autor " var(--arrow-down);
    font-style: normal;
}
/* - pages */
books book > pages {
    grid-column: 3 / span 1;
    grid-row:    1 / span 1;
}
books book > pages::after {
    content: "\A" var(--arrow-up) " liczba stron " var(--arrow-up) "\A" var(--arrow-down) " gatunek/wydawnictwo " var(--arrow-down);
}
/* - publish year */
books book > publishYear {
    grid-column: 4 / span 1;
    grid-row:    1 / span 1;
}
books book > publishYear::after {
    content: "\A" var(--arrow-up) " rok wydania " var(--arrow-up) "\A" var(--arrow-down) " ISBN " var(--arrow-down);
}
/* - price */
books book > price {
    grid-column: 5 / span 1;
    grid-row:    1 / span 2;
}
books book > price::after {
    content: "\A" var(--arrow-up) " cena [zł] " var(--arrow-up);
}
/* - isbn number */
books book > isbn {
    grid-column: 4 / span 1;
    grid-row:    2 / span 1;
}
/* - front cover */
books book > frontCover {
    display: block;
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Front covers' filenames */
books book > frontCover[src="ChrzestOgnia.jpg"]         { content: url("ChrzestOgnia.jpg"); }
books book > frontCover[src="CzasPogardy.jpg"]          { content: url("CzasPogardy.jpg"); }
books book > frontCover[src="It.jpg"]                   { content: url("It.jpg"); }
books book > frontCover[src="KrewElfow.jpg"]            { content: url("KrewElfow.jpg"); }
books book > frontCover[src="Lalka.jpg"]                { content: url("Lalka.jpg"); }
books book > frontCover[src="MieczPrzeznaczenia.jpg"]   { content: url("MieczPrzeznaczenia.jpg"); }
books book > frontCover[src="OstatnieZyczenie.jpg"]     { content: url("OstatnieZyczenie.jpg"); }
books book > frontCover[src="PaniJeziora.jpg"]          { content: url("PaniJeziora.jpg"); }
books book > frontCover[src="TheGreenMile.jpg"]         { content: url("TheGreenMile.jpg"); }
books book > frontCover[src="TheNameoftheRose.jpg"]     { content: url("TheNameoftheRose.jpg"); }
books book > frontCover[src="TheShinning.jpg"]          { content: url("TheShinning.jpg"); }
books book > frontCover[src="WiezaJaskolki.jpg"]        { content: url("WiezaJaskolki.jpg"); }
books book > frontCover[src*="AGameOfThrones.jpg"]      { content: url("AGameOfThrones.jpg"); }
books book > frontCover[src*="AClashOfKings.jpg"]       { content: url("AClashOfKings.jpg"); }
books book > frontCover[src*="AStormOfSwords.jpg"]      { content: url("AStormOfSwords.jpg"); }
books book > frontCover[src*="AFeastForCrows.jpg"]      { content: url("AFeastForCrows.jpg"); }
books book > frontCover[src*="ADanceWithDragons.jpg"]   { content: url("ADanceWithDragons.jpg"); }
books book > frontCover[src*="TheFaultInOurStars.jpg"]  { content: url("TheFaultInOurStars.jpg"); }
books book > frontCover[src*="OgniemIMieczem.jpg"]      { content: url("OgniemIMieczem.jpg"); }
books book > frontCover[src*="Potop.jpg"]               { content: url("Potop.jpg"); }
books book > frontCover[src*="PanWolodyjowski.jpg"]     { content: url("PanWolodyjowski.jpg"); }

/* ------------------------------------------------------------------------------------------------------------------ */
/* Header with title and short description */
header {
	display: block;
	text-align: center;
	background-color: var(--color1-L);
	padding: 2%;
}

header > mainTitle {
	display: block;
	font-size: 400%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

header > description, header > students {
	display: block;
	color: var(--color5d);
	font-size: 100%;
	font-style: italic;
	letter-spacing: 0.25em;
}

header > students > student:first-child::after {
    content: " | ";
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Additional embellishments: */
/* - subtle inner box shadow */
bookStore, book, header {
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1);
}
/* ------------------------------------------------------------------------------------------------------------------ */


