/* ------------------------------------------------------------------------------------------------------------------ */
/* File: xml-zadanie-1.css */
/* Authors: Konrad Jaworski, Tomasz Witczak
/* ------------------------------------------------------------------------------------------------------------------ */
/* CSS variables: */
:root {
    /* - color scheme ('D' versions are slightly darker, 'L' - lighter) */
    --color1: #314455;
    --color1-D: #1c2731;

    --color2: #644E5B;
    --color3: #9E5A63;
    --color4: #65707B;
    --color5: #97AABD;
    --color5-L: #d0d9e1;

    /* - arrow characters */
    --arrow-up: "\2191";
    --arrow-down: "\2193";
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Main selector */
bookStore {
    display: block;
    background-image: linear-gradient(to bottom, var(--color1-D), var(--color2), var(--color3));
	color: var(--color5-L);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
	padding: 0 5%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Authors, genres, publishers, etc. */
authors, genres, publishers {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Description of different types of covers */
coverTypes {
    display: block;
    position: fixed;
    bottom: 1%;
    right: 1%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

coverType[coverTypeID="paperback"] {
    display: block;
    color: white;
}

coverType[coverTypeID="hardback"] {
    display: block;
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* List of books*/
book {
    display: grid;
    background-color: var(--color1);
    text-align: center;
    padding: 1%;
    overflow: auto;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: auto;
    border-top: 0.05em solid var(--color5);

    transition: all 0.1s ease-out;
    opacity: 0.85;
    margin: auto 0;
    /*justify-content: space-evenly;*/
}

book * {
    margin: auto 0;
   /*border: 4px solid white;*/
    font-size: 180%;
}

book *::after {
    white-space: pre-wrap;
    /*font-size: 20px;*/
    font-size: 60%;
    color: var(--color4);
}

book::before {
    /*border: 4px solid white;*/
    display: block;
    margin: auto 0px;
    white-space: pre-wrap;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 180%;
}

book[authorID="ASapkowski"]::before { content: "Andrzej Sapkowski"; }
book[authorID="SKing"]::before { content: "Stephen King"; }
book[authorID="UEco"]::before { content: "Umberto Eco"; }
book[authorID="BPrus"]::before { content: "Bolesław Prus"; }
book[authorID="GRRMartin"]::before { content: "George R.R. Martin"; }
book[authorID="JGreen"]::before { content: "John Green"; }
book[authorID="HSienkiewicz"]::before { content: "Henryk Sienkiewicz"; }

book::after {
    /*border: 4px solid white;*/
    display: block;
    margin: auto 0px;
    white-space: pre-wrap;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    content: attr(genreID)"/"attr(publisherID);
    font-size: 180%;
}

book:hover {
    box-shadow: inset 0 0 5em 1em rgba(0, 0, 0, 0.5);
    /*background-color: var(--color3);*/
    /*background-color: rgba(var(--color4), 0.2);*/
    opacity: 1;
    margin: auto -0.5em;
}

book[coverTypeID="paperback"] {
    border-right: 0.5em solid white;
}
book[coverTypeID="hardback"] {
    border-right: 0.5em solid black;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Contents of a book entry */
title {
    display: block;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-style: italic;
}
title::after {
    font-style: normal;
    content: "\A" var(--arrow-up) " tytuł " var(--arrow-up) "\A " var(--arrow-down) " autor " var(--arrow-down);
}

pages {
    display: block;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    /*font-size: 50px;*/
}
pages::after {
    content: "\A" var(--arrow-up) " liczba stron " var(--arrow-up) "\A" var(--arrow-down) " gatunek/wydawnictwo " var(--arrow-down);
}

publishYear {
    display: block;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}
publishYear::after {
    content: "\A" var(--arrow-up) " rok wydania " var(--arrow-up) "\A" var(--arrow-down) " ISBN " var(--arrow-down);
}

price {
    display: block;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
}
price::after {
    content: "\A" var(--arrow-up) " cena [zł] " var(--arrow-up);
}

isbn {
    display: block;
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;
    /*font-size:25px;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */
frontCover {
    display: block;
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

frontCover[src="ChrzestOgnia.jpg"]         { content: url("ChrzestOgnia.jpg"); }
frontCover[src="CzasPogardy.jpg"]          { content: url("CzasPogardy.jpg"); }
frontCover[src="It.jpg"]                   { content: url("It.jpg"); }
frontCover[src="KrewElfow.jpg"]            { content: url("KrewElfow.jpg"); }
frontCover[src="Lalka.jpg"]                { content: url("Lalka.jpg"); }
frontCover[src="MieczPrzeznaczenia.jpg"]   { content: url("MieczPrzeznaczenia.jpg"); }
frontCover[src="OstatnieZyczenie.jpg"]     { content: url("OstatnieZyczenie.jpg"); }
frontCover[src="PaniJeziora.jpg"]          { content: url("PaniJeziora.jpg"); }
frontCover[src="TheGreenMile.jpg"]         { content: url("TheGreenMile.jpg"); }
frontCover[src="TheNameoftheRose.jpg"]     { content: url("TheNameoftheRose.jpg"); }
frontCover[src="TheShinning.jpg"]          { content: url("TheShinning.jpg"); }
frontCover[src="WiezaJaskolki.jpg"]        { content: url("WiezaJaskolki.jpg"); }
frontCover[src*="AGameOfThrones.jpg"]      { content: url("AGameOfThrones.jpg"); }
frontCover[src*="AClashOfKings.jpg"]       { content: url("AClashOfKings.jpg"); }
frontCover[src*="AStormOfSwords.jpg"]      { content: url("AStormOfSwords.jpg"); }
frontCover[src*="AFeastForCrows.jpg"]      { content: url("AFeastForCrows.jpg"); }
frontCover[src*="ADanceWithDragons.jpg"]   { content: url("ADanceWithDragons.jpg"); }
frontCover[src*="TheFaultInOurStars.jpg"]  { content: url("TheFaultInOurStars.jpg"); }
frontCover[src*="OgniemIMieczem.jpg"]      { content: url("OgniemIMieczem.jpg"); }
frontCover[src*="Potop.jpg"]               { content: url("Potop.jpg"); }
frontCover[src*="PanWolodyjowski.jpg"]     { content: url("PanWolodyjowski.jpg"); }


/* ------------------------------------------------------------------------------------------------------------------ */
/* Header with title and short description */
header {
	display: block;
	text-align: center;
	background-color: var(--color1);
	/*text-shadow: 0 0 100px var(--color5);*/
	padding: 2%;
}

header > mainTitle {
	display: block;
	font-size: 400%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

header > hDescription, header > hStudents {
	display: block;
	color: var(--color5d);
	font-size: 100%;
	font-style: italic;
	letter-spacing: 0.25em;
}

header > hStudents > student:first-child::after {
    content: " | ";
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Additional embellishments: */
/* - subtle inner box shadow */
bookStore, book, header {
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1);
}
/* ------------------------------------------------------------------------------------------------------------------ */


